# Python

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment

venv/
env/

# Models

models/*.pkl

# Data files (optional)

data/*.csv

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Node (Frontend)

node_modules/
dist/
build/

# Environment variables

.env

# Cache

.cache/

# Streamlit

.streamlit/
